<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('./partials/head.ejs') %>
<body class="d-flex flex-column min-vh-100">
    
    <!-- navigation -->
    <%- include('./partials/nav.ejs') %> 

    <!-- content -->
    <div class="tracing content">
        <div class="container bg-altlight mt-4 p-3 shadow-sm rounded-top">
            <h6 class="text-center text-muted">Possible contacts with positive cases during last 7 days</h6>
        </div>
        <div class="container-sm mb-4 p-4 bg-white shadow-sm rounded-bottom">
            <% if (dangerousPois.length > 0) { %>
                <% let index = 0 %> 
                <!-- table -->
                <table id="dangerousVisitsTable" class="table table-borderless table-responsive" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="th-sm text-muted">Name</th>
                            <th class="th-sm text-muted">Address</th>
                            <th class="th-sm text-muted">Visited on</th>
                        </tr>
                    </thead>
                    <tbody id="tbody">
                        <% dangerousPois.forEach(dangerousPoi => { %> 
                            <tr>
                                <th id="<%= index %>.1"><%= dangerousPoi.name %></th>
                                <th id="<%= index %>.2"><%= dangerousPoi.address %></th>
                                <th id="<%= index %>.3"><%= dangerousPoi.date %></th>
                            </tr>
                            <% index++ %>
                        <% }) %>
                    </tbody>
                    <tfoot>
                        
                    </tfoot>
                </table> 
            <% } else { %>
                <p class="text-muted">Empty List</p>
            <% } %>
        </div>
    </div>

    <!-- footer -->
    <%- include('./partials/footer.ejs') %>

</body>
</html>