<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('./partials/head.ejs') %>
<body>
    
    <!-- navigation -->
    <%- include('./partials/nav.ejs') %>
    <br>
    <!-- content -->
    <div class="editProfile content">
        <form>
            <label for="username">username:</label>
            <input type="text" id="username" name="username" placeholder="<%= user.username %> ">
            <div class="username error"></div>
            <label for="oldpassword">old password:</label>
            <input type="password" id="oldpassword" name="oldpassword" required>
            <div class="oldpassword error"></div>
            <label for="password">password:</label>
            <input type="password" id="password" name="password">
            <div class="password error"></div>
            <button>Update</button>
        </form>
    </div>

    <div class="positivecases content">
        <% if (positiveCases.length > 0) { %>
            <ol>
                <% positiveCases.forEach(positiveCase => { %>
                    <li>
                        <h5>Date of positive test:</h5>
                        <p class="date"><%= positiveCase.date %></p>
                        <h5>Type of test:</h5>
                        <p class="type"><%= positiveCase.testType %></p>
                    </li>
                <% }) %>
            </ol>
        <% } else { %>
            <p>Empty List</p>
        <% } %> 
    </div>

    <div class="visits content">
        <% if (pois.length > 0) { %>
            <% pois.forEach(poi => { %>
                <label for="name">Name:</label>
                <p class="name"><%= poi.name %></p>
                <label for="address">Address:</label>
                <p class="address"><%= poi.address %></p>
                <label for="timestamp">Visited on:</label>
                <p class="timestamp"><%= poi.timestamp %></p>
                </a>
            <% }) %>
        <% } else { %>
            <p>Empty List</p>
        <% } %> 
    </div>

    <!-- footer -->
    <%- include('./partials/footer.ejs') %>

</body>
</html>

<script>
    const form = document.querySelector('form');
    const usernameError = document.querySelector('.username.error');
    const oldPasswordError = document.querySelector('.oldpassword.error');
    const passwordError = document.querySelector('.password.error');

    form.addEventListener('submit', async (e) => {
        e.preventDefault();

        // reset errors
        usernameError.textContent = '';
        oldPasswordError.textContent = '';
        passwordError.textContent = '';

        // get the values of the form
        const username = form.username.value;
        const oldPassword = form.oldpassword.value;
        const password = form.password.value;

        try {
            const res = await fetch('/profile', {
                method: 'POST',
                body: JSON.stringify({ username: username, oldPassword: oldPassword, password: password }),
                headers: {'Content-Type': 'application/json' }
            });
            const data = await res.json();
            console.log(data);
            if (data.errors) {
                usernameError.textContent = data.errors.username;
                oldPasswordError.textContent = data.errors.oldPassword;
                passwordError.textContent = data.errors.password;
            }
            if (data.user) {
                location.assign('/profile');
            }
        }
        catch (err) {
            console.log(err);
        }
    });
</script>