<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('./partials/head.ejs') %>
<body>
    
    <!-- navigation -->
    <%- include('./partials/nav.ejs') %> 

    <!-- content -->
    <div>
        <p class="tag">Total number of visits:</p>
        <p class="info total-visits"></p>
        <p class="tag">Total number of positive cases reported:</p>
        <p class="info total-cases"></p>
        <p class="tag">Total number of visits made by positive cases:</p>
        <p class="info visits-of-positives"></p>
        <p class="tag">Visits per POI type:</p>
        <!-- diagram: column chart 1 -->
        <div>
            <canvas id="columnChart1"></canvas>
        </div>
        <p class="tag">Dangerous visits per POI type:</p>
        <!-- diagram: column chart 2 -->
        <div>
            <canvas id="columnChart2"></canvas>
        </div>
        <p class="tag">Daily report:</p>
        <!-- diagram: line chart 1 -->
        <label for="date-selection-start">From:</label>
        <input type="date" id="date-selection-start" onchange="postStartDate(event);" value= "<%= startDate %>" max="<%= currentDate %>">
        <label for="date-selection-end">To:</label>
        <input type="date" id="date-selection-end" onchange="postEndDate(event);" value= "<%= currentDate %>">
        <div>
            <canvas id="lineChart1"></canvas>
        </div>
        <p class="tag">Hourly report:</p>
        <!-- diagram: line chart 2 -->
        <input type="date" id="date-selection" onchange="postDate(event);" value= "<%= currentDate %>">
        <div>
            <canvas id="lineChart2"></canvas>
        </div>
    </div>

    <!-- footer -->
    <%- include('./partials/footer.ejs') %>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</body>
</html>

<script>
    // event handler for line chart 2 update
    async function postDate(event) {
        dateSelection.value = event.target.value;

        try {
            // request statistics data
            const res = await fetch('/populate-chart-per-hour', {
                method: 'POST',
                body: JSON.stringify({ selectedDate: dateSelection.value }),
                headers: {'Content-Type': 'application/json' }
            });
            const data = await res.json();

            lineChart2Data.visits = fillZeroHours(data.results.visitsPerHour);
            lineChart2Data.dangerousVisits = fillZeroHours(data.results.dangerousVisitsPerHour);

            lineChart2.data.datasets[0].data = lineChart2Data.visits;
            lineChart2.data.datasets[1].data = lineChart2Data.dangerousVisits;
            lineChart2.update();
        }
        catch (err) {
            console.log(err);
        }
    }

    // event handler for line chart 1 update (start date changed)
    async function postStartDate(event) {
        startDateSelection.value = event.target.value;
        startDate = startDateSelection.value;

        try {
            // request statistics data
            const res = await fetch('/populate-chart-per-day', {
                method: 'POST',
                body: JSON.stringify({ from: startDate, to: endDate }),
                headers: {'Content-Type': 'application/json' }
            });
            const data = await res.json();

            // fill zero visits
            lineChart1Data.visits = fillZeroDates(startDate, endDate, data.results.visitsPerDay);
            lineChart1Data.dangerousVisits = fillZeroDates(startDate, endDate, data.results.dangerousVisitsPerDay);

            lineChart1.data.datasets[0].data = lineChart1Data.visits;
            lineChart1.data.datasets[1].data = lineChart1Data.dangerousVisits;
            lineChart1.update();
        } 
        catch (err) {
            console.log(err);
        }
    }

    // event handler for line chart 1 update (end date changed)
    async function postEndDate(event) {
        endDateSelection.value = event.target.value;
        endDate = endDateSelection.value;

        // request statistics data
        const res = await fetch('/populate-chart-per-day', {
            method: 'POST',
            body: JSON.stringify({ from: startDate, to: endDate }),
            headers: {'Content-Type': 'application/json' }
        });
        const data = await res.json();

        // fill zero visits
        lineChart1Data.visits = fillZeroDates(startDate, endDate, data.results.visitsPerDay);
        lineChart1Data.dangerousVisits = fillZeroDates(startDate, endDate, data.results.dangerousVisitsPerDay);

        lineChart1.data.datasets[0].data = lineChart1Data.visits;
        lineChart1.data.datasets[1].data = lineChart1Data.dangerousVisits;
        lineChart1.update();
    }

    // function to fill empty dates with zero visits
    function fillZeroDates(startDate, endDate, data) {
        let index=0;
        let tempDate = new Date(startDate + 'T00:00:00.777+00:00');
        let endDateDateFormat = new Date(endDate + 'T00:00:00.777+00:00');
        let filledData = [];

        // loop through given time box
        while (tempDate <= endDateDateFormat) {
            let item = { totalVisits: 0, date: '' };
            // check for remaining visit records
            if (index < data.length) {
                if(data[index].date === tempDate.toISOString().split('T')[0]) { 
                    item.date = data[index].date;
                    item.totalVisits = data[index].totalVisits;
                    filledData.push(item);
                    index++;
                }
                else {
                item.totalVisits = 0;
                item.date = tempDate.toISOString().split('T')[0];
                filledData.push(item);
                }
            }
            // no more visit records
            else {
                item.totalVisits = 0;
                item.date = tempDate.toISOString().split('T')[0];
                filledData.push(item);
            }
            
            tempDate.setDate(tempDate.getDate() + 1);
        }
        
        return filledData;
    }

    // function to fill empty hours with zero visits
    function fillZeroHours(data) {
        let index=0;
        let hour = 0;
        let filledData = [];

        // loop through hours of given date
        while (hour <= 23) {
            let item = { totalVisits: 0, date: '' };
            // check for remaining visit records
            if (index < data.length) {
                if(data[index].date == hour) { 
                    item.date = data[index].date;
                    item.totalVisits = data[index].totalVisits;
                    filledData.push(item);
                    index++;
                }
                else {
                item.totalVisits = 0;
                item.date = hour + '';
                filledData.push(item);
                }
            }
            // no more visit records
            else {
                item.totalVisits = 0;
                item.date = hour + '';
                filledData.push(item);
            }
        
            hour++;
        }

        return filledData;
    }

    const totalNumberOfVisits = document.querySelector('.total-visits');
    const totalNumberOfCases = document.querySelector('.total-cases');
    const totalNumberOfVisitsOfPositives = document.querySelector('.visits-of-positives');
    const dateSelection = document.getElementById('date-selection');
    const startDateSelection = document.getElementById('date-selection-start');
    const endDateSelection = document.getElementById('date-selection-end');

    // chart data initializations
    let columnChart1Data = [];
    let columnChart2Data = [];
    let lineChart2Data1 = [];
    let lineChart2Data2 = [];
    let lineChart1Data = { visits: [], dangerousVisits: [] };
    let lineChart2Data = { visits: [], dangerousVisits: [] };

    // get time frame from user's input
    let startDate = startDateSelection.value;
    let endDate = endDateSelection.value;

    let lineChart1 = '';
    let lineChart2 = '';

    // function to populate charts with data from db
    async function populateStatistics() {
        try {

            // request statistics data
            const res = await fetch('/populate-statistics');
            const data = await res.json();
            
            // get data
            totalNumberOfVisits.textContent = data.results.totalVisits; // total visits
            totalNumberOfCases.textContent = data.results.totalCases; // total positive cases
            totalNumberOfVisitsOfPositives.textContent = data.results.visitsOfPositives; // total visits by positive cases
            columnChart1Data = data.results.visitsPerType;
            columnChart2Data = data.results.dangerousVisitsPerType;

            // request data for line charts
            const resPerDay = await fetch('/populate-chart-per-day', {
                method: 'POST',
                body: JSON.stringify({ from: startDate, to: endDate }),
                headers: {'Content-Type': 'application/json' }
            });
            const dataPerDay = await resPerDay.json();

            const resPerHour = await fetch('/populate-chart-per-hour', {
                method: 'POST',
                body: JSON.stringify({ selectedDate: dateSelection.value }),
                headers: {'Content-Type': 'application/json' }
            });
            const dataPerHour = await resPerHour.json();

            // fill zero visits
            lineChart1Data.visits = fillZeroDates(startDate, endDate, dataPerDay.results.visitsPerDay);
            lineChart1Data.dangerousVisits = fillZeroDates(startDate, endDate, dataPerDay.results.dangerousVisitsPerDay);
            lineChart2Data.visits = fillZeroHours(dataPerHour.results.visitsPerHour);
            lineChart2Data.dangerousVisits = fillZeroHours(dataPerHour.results.dangerousVisitsPerHour);

            // column chart 1
            const columnChartData1 = {
                datasets: [{
                    label: 'Visits',
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: columnChart1Data,
                }]
            };

            const configColumnChart1 = {
                type: 'bar',
                data: columnChartData1,
                options: {
                    responsive: true,
                    plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Visits per POI type'
                    }
                    },
                    parsing: {
                        xAxisKey: 'poiInfo',
                        yAxisKey: 'totalVisits'
                    }
                }
            };

            const columnChart1 = new Chart(
                document.getElementById('columnChart1'),
                configColumnChart1
            );

            // column chart 2
            const columnChartData2 = {
                datasets: [{
                    label: 'Visits',
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: columnChart2Data,
                }]
            };

            const configColumnChart2 = {
                type: 'bar',
                data: columnChartData2,
                options: {
                    responsive: true,
                    plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Visits by positive cases per POI type'
                    }
                    },
                    parsing: {
                        xAxisKey: 'poiInfo',
                        yAxisKey: 'totalVisits'
                    }
                }
            };

            const columnChart2 = new Chart(
                document.getElementById('columnChart2'),
                configColumnChart2
            );

            // line chart 1
            const lineChartData1 = {
                datasets: [
                    {
                        label: 'Visits',
                        data: lineChart1Data.visits,
                        backgroundColor: 'rgb(255, 99, 132)',
                        borderColor: 'rgb(255, 99, 132)',
                    },
                    {
                        label: 'Visits by positive cases',
                        data: lineChart1Data.dangerousVisits,
                        backgroundColor: 'rgb(200, 88, 152)',
                        borderColor: 'rgb(200, 88, 152)',
                    }
                ]
            };
            
            const configLineChart1 = {
                type: 'line',
                data: lineChartData1,
                options: {
                    responsive: true,
                    plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Daily report'
                    }
                    },
                    parsing: {
                        xAxisKey: 'date',
                        yAxisKey: 'totalVisits'
                    }
                },
            };

            lineChart1 = new Chart(
                document.getElementById('lineChart1'),
                configLineChart1
            );

            // line chart 2
            const lineChartData2 = {
                datasets: [
                    {
                        label: 'Visits',
                        data: lineChart2Data.visits,
                        backgroundColor: 'rgb(255, 99, 132)',
                        borderColor: 'rgb(255, 99, 132)',
                    },
                    {
                        label: 'Visits by positive cases',
                        data: lineChart2Data.dangerousVisits,
                        backgroundColor: 'rgb(200, 88, 152)',
                        borderColor: 'rgb(200, 88, 152)',
                    }
                ]
            };
            
            const configLineChart2 = {
                type: 'line',
                data: lineChartData2,
                options: {
                    responsive: true,
                    plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Hourly report'
                    }
                    },
                    parsing: {
                        xAxisKey: 'date',
                        yAxisKey: 'totalVisits'
                    }
                },
            };

            lineChart2 = new Chart(
                document.getElementById('lineChart2'),
                configLineChart2
            );
        }
        catch (err) {
            console.log(err);
        }
    }

    populateStatistics();

</script>